body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;

}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
 }
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand a:active {
  background-color: grey;
  border: 1px solid white;
}
#nav-list {
  margin-top: 10px;
  background-color: white;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button span {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

/** MAIN CONTENT **/
.container {
  background-color: grey;
}
#main-content {
  height: 1000px;
}
.container h2 {
  font-size: 20px;
  color:black;
  font-weight: bold;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
#food-subtitles {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}